# ReservaMS Infra - ejemplo de variables de entorno

MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=

EUREKA_URL=http://reservams-eureka-server:8761/eureka/

KAFKA_INTERNAL_BOOTSTRAP_SERVER=kafka:29092
KAFKA_EXTERNAL_BOOTSTRAP_SERVER=localhost:9092